*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

a:visited {
  color: initial;
}

/*
	clamp(value * ratio, clamp%, max)
	    - ratio = 1024/1440 -> 0.7
	    - clamp% = value / 1440
	    - max = value
*/
body {
  font-family: Roboto, sans-serif;
  font-size: clamp(12px, 1.25vw, 18px);
  font-weight: 400;
}

h1 {
  font-size: clamp(16px, 1.67vw, 24px);
}

h2 {
  font-size: clamp(32px, 3.33vw, 48px);
}
h2 span {
  color: rgb(255, 0, 0);
}

h3 {
  font-size: clamp(10px, 1.04vw, 15px);
}

.header {
  display: grid;
  overflow: hidden;
  padding-inline: 28px;
  align-items: center;
  height: 92px;
  color: rgb(255, 255, 255);
  background: rgb(2, 2, 3);
  grid-auto-flow: column;
  padding-block: 18px 12px;
  gap: 10vw;
}
.header__logo {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  gap: 12px;
}
.header__logo svg {
  width: 58px;
  height: 58px;
}
.header__nav {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  gap: 10vw;
}
.header__nav a {
  font-size: clamp(18px, 1.6vw, 24px);
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.main {
  display: flex;
  flex-flow: nowrap;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 92px);
}

.sidebar {
  padding-inline: 28px;
  position: relative;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  width: 116px;
  height: 100%;
  padding-top: clamp(48px, 17.6vh, 256px);
  color: rgb(255, 255, 255);
  background: rgb(2, 2, 3);
  gap: clamp(24px, 17.2vh, 248px);
}
.sidebar__nav ul {
  display: flex;
  flex-direction: column;
  gap: clamp(8px, 1.3vh, 20px);
}
.sidebar__aside-txt {
  font-size: clamp(8px, 0.83vw, 12px);
  width: max-content;
  rotate: -90deg;
}

.container {
  width: 100%;
  height: 100%;
  margin: 64px 88px 88px;
}
.container__header {
  display: flex;
  flex-direction: column;
  margin-bottom: clamp(52px, 5.35vw, 77px);
  gap: clamp(12px, 2.85vw, 42px);
}
.container__header p {
  font-size: clamp(12px, 1.25vw, 18px);
}
.container__main__graphs__graph {
  border-radius: 5px;
}
.container__main__graphs__graph--bars {
  width: 835px;
  height: 320px;
  border: 1px green solid;
  grid-area: a;
}
.container__main__graphs__graph .barChart {
  width: 100% !important;
  height: 100% !important;
  border: 1px red solid;
}
.container__main__graphs__graph .barChart__legend {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container__main__graphs__graph .barChart__legend p {
  font-size: clamp(11px, 1.11vw, 16px);
  font-weight: 500;
}
.container__main__graphs__graph .barChart__legend ul {
  display: flex;
  float: right;
  margin: 15px;
  gap: 32px;
}
.container__main__graphs__graph .barChart__legend ul li {
  font-size: clamp(10px, 0.97vw, 14px);
  position: relative;
  color: rgb(116, 121, 140);
}
.container__main__graphs__graph .barChart__legend ul li::before {
  position: absolute;
  top: 5px;
  left: -18px;
  width: clamp(6px, 0.55vw, 8px);
  height: 8px;
  content: "";
  border-radius: 100%;
  background: rgb(255, 0, 0);
}
.container__main__graphs__graph .barChart__legend ul li:first-of-type::before {
  background: rgb(40, 45, 48);
}
.container__main__graphs__graph .barChart__bar--kg {
  fill: rgb(2, 2, 3);
}
.container__main__graphs__graph .barChart__bar--cal {
  fill: rgb(255, 0, 0);
}
.container__main__graphs__graph--evolution, .container__main__graphs__graph--skills, .container__main__graphs__graph--score {
  width: clamp(180px, 17.92vw, 258px);
  height: clamp(184px, 18.26vw, 263px);
}
.container__main__graphs__graph--evolution {
  grid-area: b;
}
.container__main__graphs__graph--skills {
  grid-area: c;
}
.container__main__graphs__graph--score {
  grid-area: d;
}
.container__main__aside {
  display: grid;
  align-items: stretch;
  height: 100%;
  grid-row-gap: clamp(28px, 2.78vw, 40px);
}
.container__main__aside__item {
  display: grid;
  align-items: center;
  padding: clamp(22px, 2.22vw, 32px);
  border-radius: 5px;
  background-color: rgb(251, 251, 251);
  justify-items: self-start;
  grid-column: clamp(48px, 4.44vw, 64px) 1fr;
  grid-template-areas: "svg value" "svg label";
  grid-column-gap: clamp(18px, 1.6vw, 24px);
}
.container__main__aside__item svg {
  align-self: stretch;
  width: clamp(48px, 4.44vw, 64px);
  height: clamp(48px, 4.44vw, 64px);
  grid-area: svg;
  justify-self: stretch;
}
.container__main__aside__item .value {
  font-size: clamp(14px, 1.39vw, 20px);
  grid-area: value;
}
.container__main__aside__item .label {
  font-size: clamp(10px, 0.97vw, 14px);
  color: rgb(116, 121, 140);
  grid-area: label;
}

.svg__food__fat #background {
  fill-opacity: 0.1;
  fill: #fd5181;
}
.svg__food__fat path {
  fill: #fd5181;
  clip-rule: evenodd;
  fill-rule: evenodd;
}

#mask0_66308_128 {
  mask-type: alpha;
}

/*# sourceMappingURL=index.css.map */
