#loader-container {
	transition: all 1350ms ease-out;

	&[data-is-visible="true"] {
		font-size: 36px;
		font-weight: 600;
		z-index: 1;
		display: grid;
		width: 100%;
		height: 100%;
		transition: all 1350ms ease-out;
		place-content: center;
	}

	&[data-is-visible="false"] {
		position: absolute;
		z-index: -1;
		top: -200px;
		left: -1200px;
		visibility: hidden;
		transition: all 1350ms ease-out;
		opacity: 0;
	}
}

#loader-container[data-is-visible="true"] + #root {
	visibility: hidden;
	opacity: 0;
}

#loader-container[data-is-visible="false"] + #root {
	visibility: visible;
	opacity: 1;
}

#root {
	transition: all 1350ms ease-in;
}

.loader {
	position: relative;
	display: block;
	box-sizing: border-box;
	width: 48px;
	height: 48px;
	margin: 15px auto;
	animation: rotation 1s linear infinite;
	color: rgb(2, 2, 3);

	&::after,
	&::before {
		position: absolute;
		top: 50%;
		left: 50%;
		box-sizing: border-box;
		width: 24px;
		height: 24px;
		content: "";
		transform: scale(0.5) translate(0, 0);
		animation: animLoader 1s infinite ease-in-out;
		border-radius: 50%;
		background-color: rgb(2, 2, 3);
	}

	&::before {
		transform: scale(0.5) translate(-48px, -48px);
		background-color: rgb(255, 0, 0);
	}
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes animLoader {
	50% {
		transform: scale(1) translate(-50%, -50%);
	}
}
