// ========================
//region      RESET
*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
}

a:visited {
	color: initial;
}

// endregion     RESET
// ========================

// ========================
//region      VARIABLES
$minVW: 1024px;
$minVH: 780px;
$mainFont: Roboto, sans-serif;
$iconSize: 64px;

//region Font-props
$h1: 24px; // main title h1
$h2: 48px; // graph title
$h3: 15px; // graph title
$regular-text: 18px; // regular txt

$stat-score-number: 26px; // overview main stat number
$stat-score-label: 16px; // overview main stat label txt

$navLink: 24px; // nav

$stat-food-number: 20px; // aside stat number
$stat-food-label: 14px; // small label stat txt

$txt-alt: 12px; // aside txt & graph txt precision

$txt-detail: 8px; // graph detail
$txt-detail-smaller: 7px; // graph detail
//endregion

//region Colors
$primary: rgb(2, 2, 3);
$primary-alt: rgb(40, 45, 48);
$secondary: rgb(255 255 255);
$accent-red: rgb(255, 0, 0);
$accent-red-darker: rgb(230, 0, 0); // for graph bars
$accent-blue: rgb(74, 184, 255);
$accent-blue: rgb(253, 204, 12);
$accent-blue: rgb(253, 81, 129);
//endregion

$margin-block-main: 65px 90px;
$margin-inline-main: 90px;

@mixin LeftBorder {
	padding-inline: 26px;
}

//endregion      VARIABLES
// ========================

body {
	font-family: $mainFont;
	font-size: $regular-text;
	font-weight: 400;
}

h1 {
	font-size: $h1;
}

h2 {
	font-size: $h2;

	span {
		color: $accent-red;
	}
}

h3 {
	font-size: $h3;
}

//region Header-Component
.header {
	display: flex;
	@include LeftBorder;
	align-items: center;
	flex-flow: row nowrap;
	width: 100%;
	height: 91px;
	color: $secondary;
	background: $primary;
	padding-block: 18px 12px;
	gap: 150px;

	&__logo {
		display: flex;
		align-items: center;
		flex-flow: row nowrap;
		gap: 11px;

		svg {
			width: 58px;
			height: 58px;
		}
	}

	&__nav {
		display: flex;
		align-items: center;
		flex-flow: row nowrap;
		width: 100%;
		gap: 220px;

		a {
			font-size: $navLink;
			text-decoration: none;
			color: $secondary;
		}
	}
}

//endregion
main {
	display: flex;
	flex-flow: nowrap;
	flex-direction: row;
}

.sidebar {
	@include LeftBorder;
	position: relative;
	display: flex;
	align-items: center;
	flex-flow: column nowrap;
	width: 117px;
	height: 100vh;
	padding-top: 256px;
	color: $secondary;
	background: $primary;
	gap: 250px;
}

.aside-txt {
	font-size: $txt-alt;
	width: max-content;
	rotate: -90deg;
}

.container {
	margin: $margin-block-main $margin-inline-main;
}

#mask0_66308_128 {
	mask-type: alpha;
}
